.portfolio-item-individual {
  padding: 0;
  max-width: 600px;
  margin: 0 auto;
}

.portfolio-item-individual p {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
.intro-detailed {
  padding-bottom: 0;
}
